<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oz.ozHouse.mapper.DeliveryMapper">

    <select id="searchDeliveryList" parameterType="DeliverySearchDTO" resultType="OrderTb">
		SELECT * FROM ozHouse.OrderTb ot 
		JOIN ozHouse.ProInform AS pi2 ON ot.orderNum = pi2.oNum 
		JOIN ozHouse.Product AS p ON pi2.proNum = p.proNum 
		WHERE p.merNum = #{merNum}
		<if test="startDate != null and endDate != null">
			and ot.regDate between #{startDate} and #{endDate} 
		</if>
		<if test="mode != 'all'">
			and ot.oDelnow = #{mode}
		</if>
		<if test="oRefund != 'all'">
			and ot.ProInform.oRefund = #{oRefund}
		</if>
		<if test="search == 'all' and searchString != null">
			and (
			    ot.oNum LIKE '%' || #{searchString}|| '%'
			    OR ot.memberId LIKE '%' || #{searchString}|| '%'
			    OR p.proName LIKE '%' || #{searchString}|| '%'
			)
		</if>
		<if test="search != null and search == 'memberId'">
			and ot.memberId like '%' || #{searchString}|| '%'
		</if>
		<if test="search != null and search == 'proName'">
			and p.proName like '%' || #{searchString}|| '%'
		</if>
		<if test="search != null and search == 'oNum'">
			and ot.oNum like '%' || #{searchString}|| '%'
		</if>
	</select>
</mapper>