@charset "UTF-8";
<style>
.container {
    width: 80%;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

input[type="text"].box, textarea.box {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

textarea.box {
    height: 150px; 
}

.box {
    width: 80%;
    font-size: 15px;
}
}

.content-container {
    margin-bottom: 20px;
    padding: 15px;
}

.board-header {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.flex-cell {
    flex: 1;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}

.flex-cell-sub {
    flex: 3;
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-line;
}

input[type="button"], input[type="reset"] {
    background-color: #c0c0c0;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.button-right-align {
    display: flex;
    justify-content: center; 
    width: 100%; 
	margin-top: 15px;
}

input[type="submit"] {
    background-color: #50E5B4;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.center-align {
    text-align: center;
}

.flex-sub {
	align-items: right
}

.button-group {
	text-align: center;
	margin-top: 10px;
}

@media (max-width: 768px) {
    .flex-row, .flex-container {
        flex-direction: column;
    }

    .flex-cell {
        width: 100%;
        margin-bottom: 5px;
    }
}
</style>
