@charset "UTF-8";
<style>
.container {
    width: 90%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
	background-color: #f4f4f4;
}

.content-container {
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 98%;
}

.returnCancle-heade {
    font-size: 24px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: column;
}

.flex-item {
    flex: 1;
}

.info-text {
    margin-bottom: 5px;
    line-height: 2.2;
}

.red-text {
    color: #d9534f;  
}

.flex-cell.header-cell.custom-label {
    text-align: right;
    padding-right: 20px;
}

.custom-button-row .button-container {
    background-color: #f4f4f4; 
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 10px; 
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.header-cell {
    font-weight: bold;
    flex: none;
    width: 700px;
}

.flex-column {
    display: flex;
    flex-direction: row;   
    margin-bottom: 10px;
}

.flex-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.flex-cell.input-cell {
    flex: 1;
    padding: 10px;
    text-align: left;
}

.header-cell {
    font-weight: bold;
    flex: none;  
    width: 700px;  
}

input[type="text"],
input[type="reset"],
input[type="submit"],
select {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 15px 20px;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 35px;
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
    padding: initial;
    border: initial;
}

input[type="text"] {
	font-size: 16px;
	text-align: center;
}

input[type="reset"] {
    background-color: #808080; 
    color: white;
    border-color: #808080;
    font-size: 15px;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type="button"] {
    background-color: #d2d3d7; 
    color: black;
    border-color: #d2d3d7;
    font-size: 15px;
    padding: 7px 5px;
    cursor: pointer;
    width: 60px; 
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin: -2px -8px;
    border: none;
}

input[type="submit"]#button-type {
    background-color: #50E5B4; 
    color: black;
    border-color: #50E5B4;
    font-size: 15px;
    padding: 7px 5px;
    cursor: pointer;
    width: 60px; 
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin: -2px -8px;
    border: none;
}

input[type="submit"] {
    background-color: #50E5B4; 
    color: white;
    border-color: #50E5B4;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
}


.results-heading {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.scroll {
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.header-row {
    background-color: #808080;  
    color: #fff;
}

.flex-row .flex-cell:last-child {
    border-right: none;  
}

@media (max-width: 768px) {
    .flex-row, .flex-container {
        flex-direction: column;
    }

    .header-cell,
    .flex-cell {
        width: auto;  
        margin-bottom: 5px;
    }
}

.flex-cell img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.flex-row .flex-cell:last-child {
    border-right: none;  
}
</style>