ol, ul {
	list-style-image: initial;
}

ol, ul {
	list-style: none;
}

element.style {
	transform: translateX(0px);
}

.page-navigation>ul {
	text-align: center;
	white-space: nowrap;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4,
	h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

<
style>* {
	-webkit-tap-highlight-color: rgba(232, 230, 227, 0);
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

user agent stylesheet
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.layout {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

<
style>body, html {
	line-height: 1;
	font-family: "Pretendard Variable", "Noto Sans KR",
		"Apple SD Gothic Neo", "        ", "Malgun Gothic", sans-serif;
	font-size: 13px;
}

<
style>html, body {
	border-color: #736b5e;
	color: #e8e6e3;
}

<
style>:root { -
	-darkreader-bg--sendbird-light-primary-500: #3a0f6e; -
	-darkreader-bg--sendbird-light-primary-400: #4e0ea0; -
	-darkreader-border--sendbird-light-primary-400: #560faf; -
	-darkreader-bg--sendbird-light-primary-300: #551caa; -
	-darkreader-text--sendbird-light-primary-300: #8140e0; -
	-darkreader-border--sendbird-light-primary-300: #4b1897; -
	-sendbird-light-primary-200: #c2a9fa; -
	-darkreader-bg--sendbird-light-primary-100: #25282a; -
	-darkreader-border--sendbird-light-primary-100: #190074; -
	-sendbird-light-secondary-500: #066858; -
	-sendbird-light-secondary-400: #027d69; -
	-darkreader-bg--sendbird-light-secondary-300: #1e7d5b; -
	-darkreader-text--sendbird-light-secondary-300: #69dbb3; -
	-sendbird-light-secondary-200: #69c085; -
	-sendbird-light-secondary-100: #a8e2ab; -
	-darkreader-bg--sendbird-light-information-100: #2f3335; -
	-darkreader-bg--sendbird-light-error-500: #7e0718; -
	-darkreader-bg--sendbird-light-error-400: #99060e; -
	-darkreader-border--sendbird-light-error-400: #bd0711; -
	-darkreader-bg--sendbird-light-error-300: #b22b09; -
	-darkreader-text--sendbird-light-error-300: #f55b33; -
	-darkreader-border--sendbird-light-error-300: #b02b09; -
	-sendbird-light-error-200: #f66161; -
	-sendbird-light-error-100: #fdaaaa; -
	-darkreader-bg--sendbird-light-background-700: #000000; -
	-sendbird-light-background-600: #161616; -
	-sendbird-light-background-500: #2c2c2c; -
	-darkreader-border--sendbird-light-background-400: #797164; -
	-darkreader-bg--sendbird-light-background-300: #3d4245; -
	-darkreader-bg--sendbird-light-background-200: #2a2d2f; -
	-darkreader-bg--sendbird-light-background-100: #222426; -
	-darkreader-border--sendbird-light-background-100: #35393b; -
	-darkreader-bg--sendbird-light-background-50: #181a1b; -
	-darkreader-bg--sendbird-light-overlay-01: rgba(0, 0, 0, 0.55); -
	-darkreader-bg--sendbird-light-overlay-02: rgba(0, 0, 0, 0.32); -
	-darkreader-bg--sendbird-light-onlight-01: rgba(0, 0, 0, 0.88); -
	-darkreader-text--sendbird-light-onlight-01: rgba(232, 230, 227, 0.88);
	-
	-darkreader-bg--sendbird-light-onlight-02: rgba(0, 0, 0, 0.5); -
	-darkreader-text--sendbird-light-onlight-02: rgba(232, 230, 227, 0.5);
	-
	-darkreader-bg--sendbird-light-onlight-03: rgba(0, 0, 0, 0.38); -
	-darkreader-text--sendbird-light-onlight-03: rgba(232, 230, 227, 0.38);
	-
	-darkreader-border--sendbird-light-onlight-03: rgba(140, 130, 115, 0.38);
	-
	-darkreader-bg--sendbird-light-onlight-04: rgba(0, 0, 0, 0.12); -
	-darkreader-text--sendbird-light-onlight-04: rgba(232, 230, 227, 0.12);
	-
	-darkreader-border--sendbird-light-onlight-04: rgba(140, 130, 115, 0.12);
	-
	-darkreader-bg--sendbird-light-ondark-01: rgba(24, 26, 27, 0.88); -
	-darkreader-text--sendbird-light-ondark-01: rgba(232, 230, 227, 0.88);
	-
	-darkreader-text--sendbird-light-ondark-02: rgba(232, 230, 227, 0.5); -
	-sendbird-light-ondark-03: hsla(0, 0%, 100%, 0.38); -
	-sendbird-light-ondark-04: hsla(0, 0%, 100%, 0.12);
	Show
	All
	Properties
	(75
	more)
}

:root { -
	-sendbird-light-primary-500: #491389; -
	-sendbird-light-primary-400: #6211c8; -
	-sendbird-light-primary-300: #742ddd; -
	-sendbird-light-primary-200: #c2a9fa; -
	-sendbird-light-primary-100: #dbd1ff; -
	-sendbird-light-secondary-500: #066858; -
	-sendbird-light-secondary-400: #027d69; -
	-sendbird-light-secondary-300: #259c72; -
	-sendbird-light-secondary-200: #69c085; -
	-sendbird-light-secondary-100: #a8e2ab; -
	-sendbird-light-information-100: #adc9ff; -
	-sendbird-light-error-500: #9d091e; -
	-sendbird-light-error-400: #bf0711; -
	-sendbird-light-error-300: #de360b; -
	-sendbird-light-error-200: #f66161; -
	-sendbird-light-error-100: #fdaaaa; -
	-sendbird-light-background-700: #000; -
	-sendbird-light-background-600: #161616; -
	-sendbird-light-background-500: #2c2c2c; -
	-sendbird-light-background-400: #393939; -
	-sendbird-light-background-300: #bdbdbd; -
	-sendbird-light-background-200: #e0e0e0; -
	-sendbird-light-background-100: #eee; -
	-sendbird-light-background-50: #fff; -
	-sendbird-light-overlay-01: rgba(0, 0, 0, 0.55); -
	-sendbird-light-overlay-02: rgba(0, 0, 0, 0.32); -
	-sendbird-light-onlight-01: rgba(0, 0, 0, 0.88); -
	-sendbird-light-onlight-02: rgba(0, 0, 0, 0.5); -
	-sendbird-light-onlight-03: rgba(0, 0, 0, 0.38); -
	-sendbird-light-onlight-04: rgba(0, 0, 0, 0.12); -
	-sendbird-light-ondark-01: hsla(0, 0%, 100%, 0.88); -
	-sendbird-light-ondark-02: hsla(0, 0%, 100%, 0.5); -
	-sendbird-light-ondark-03: hsla(0, 0%, 100%, 0.38); -
	-sendbird-light-ondark-04: hsla(0, 0%, 100%, 0.12); -
	-sendbird-light-shadow-01: 0 1px 5px 0 rgba(33, 34, 66, 0.04), 0 0 3px 0
		rgba(0, 0, 0, 0.08), 0 2px 1px 0 rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-02: 0 3px 5px -3px rgba(33, 34, 66, 0.04), 0 3px
		14px 2px rgba(0, 0, 0, 0.08), 0 8px 10px 1px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-03: 0 6px 10px -5px rgba(0, 0, 0, 0.04), 0 6px
		30px 5px rgba(0, 0, 0, 0.08), 0 16px 24px 2px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-04: 0 9px 15px -7px rgba(0, 0, 0, 0.04), 0 9px
		46px 8px rgba(0, 0, 0, 0.08), 0 24px 38px 3px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-message-input: 0 1px 5px 0 rgba(33, 34, 66, 0.12),
		0 0 1px 0 rgba(33, 34, 66, 0.16), 0 2px 1px 0 rgba(33, 34, 66, 0.08),
		0 1px 5px 0 rgba(0, 0, 0, 0.12); -
	-sendbird-dark-primary-500: #491389; -
	-sendbird-dark-primary-400: #6211c8; -
	-sendbird-dark-primary-300: #742ddd; -
	-sendbird-dark-primary-200: #c2a9fa; -
	-sendbird-dark-primary-100: #dbd1ff; -
	-sendbird-dark-secondary-500: #066858; -
	-sendbird-dark-secondary-400: #027d69; -
	-sendbird-dark-secondary-300: #259c72; -
	-sendbird-dark-secondary-200: #69c085; -
	-sendbird-dark-secondary-100: #a8e2ab; -
	-sendbird-dark-information-100: #adc9ff;
	Show
	All
	Properties
	(40
	more)
}

<
style>:root { -
	-darkreader-neutral-background: #131516; -
	-darkreader-neutral-text: #d8d4cf; -
	-darkreader-selection-background: #004daa; -
	-darkreader-selection-text: #e8e6e3;
}

<
style>html {
	font-family: 'Pretendard Variable', sans-serif;
	letter-spacing: -0.3px;
	-webkit-font-smoothing: antialiased;
}

html {
	font-family: 'Pretendard Variable', sans-serif;
	letter-spacing: -0.3px;
	-webkit-font-smoothing: antialiased;
}

<
style>html {
	color: rgb(190, 185, 176);
	background-image: initial;
	background-color: rgb(24, 26, 27);
}

<
style>body, html {
	line-height: 1;
	font-family: "Pretendard Variable", "Noto Sans KR",
		"Apple SD Gothic Neo", "        ", "Malgun Gothic", sans-serif;
	font-size: 13px;
}

html {
	color: #424242;
	background: #fff;
}

<
style>html {
	color-scheme: dark !important;
}

<
style>::-webkit-scrollbar {
	background-color: #202324;
	color: #aba499;
}

<
style>::-webkit-scrollbar-corner {
	background-color: #181a1b;
}

<
style>::-webkit-scrollbar-thumb {
	background-color: #454a4d;
}

<
style>::selection {
	background-color: #004daa !important;
	color: #e8e6e3 !important;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4,
	h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

-webkit-tap-highlight-color
:
 
rgba
(232
,
230,
227,
0);
}
* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

user agent stylesheet
li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.page-navigation__sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row; /*         κ :    ο       η       */
}

.page-navigation__sub-menu.active {
	display: flex; /* Ŭ            ϸ  ǥ   */
}

.page-navigation__sub-menu-item {
	display: none;
	padding: 20px;
	border-bottom: 1px solid #ddd;
	align-items: center; /*    η                   */
	text-align: center; /*  ؽ Ʈ      η                   */
}

.page-navigation__sub-menu-item:active {
	color: #50E5B4;
}

.page-navigation__sub-menu-item:hover {
	color: #50E5B4;
}

page-navigation__item:active {
	color: #50E5B4;
}

.page-navigation__sub-menu.active .page-navigation__sub-menu-item {
	display: flex; /*  θ    ҿ  active Ŭ                 ǥ   */
}

<!--
ƴ  -->element.style {
	
}

@media ( min-width : 768px) <style> .css-1x6h9tu {
	padding
	:
	 
	0
	px
	 
	40
	px
	;
	

}

@media ( min-width : 375px) <style> .css-1x6h9tu {
	padding
	:
	 
	0
	px
	 
	15
	px
	;
	

}

<
style>.css-1x6h9tu {
	padding: 0px 15px;
}

<
style>.css-1x6h9tu {
	width: 100%;
	max-width: 1256px;
	margin: 0px auto;
	box-sizing: border-box;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4,
	h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

<
style>* {
	-webkit-tap-highlight-color: rgba(232, 230, 227, 0);
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

user agent stylesheet
div {
	display: block;
}

.layout {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

@media ( min-width : 768px) body , html {
	font-size
	:
	 
	15
	px
	;
	

}

<
style>body, html {
	line-height: 1;
	font-family: "Pretendard Variable", "Noto Sans KR",
		"Apple SD Gothic Neo", "        ", "Malgun Gothic", sans-serif;
	font-size: 13px;
}

<
style>html, body {
	border-color: #736b5e;
	color: #e8e6e3;
}

<
style>:root { -
	-darkreader-bg--sendbird-light-primary-500: #3a0f6e; -
	-darkreader-bg--sendbird-light-primary-400: #4e0ea0; -
	-darkreader-border--sendbird-light-primary-400: #560faf; -
	-darkreader-bg--sendbird-light-primary-300: #551caa; -
	-darkreader-text--sendbird-light-primary-300: #8140e0; -
	-darkreader-border--sendbird-light-primary-300: #4b1897; -
	-sendbird-light-primary-200: #c2a9fa; -
	-darkreader-bg--sendbird-light-primary-100: #25282a; -
	-darkreader-border--sendbird-light-primary-100: #190074; -
	-sendbird-light-secondary-500: #066858; -
	-sendbird-light-secondary-400: #027d69; -
	-darkreader-bg--sendbird-light-secondary-300: #1e7d5b; -
	-darkreader-text--sendbird-light-secondary-300: #69dbb3; -
	-sendbird-light-secondary-200: #69c085; -
	-sendbird-light-secondary-100: #a8e2ab; -
	-darkreader-bg--sendbird-light-information-100: #2f3335; -
	-darkreader-bg--sendbird-light-error-500: #7e0718; -
	-darkreader-bg--sendbird-light-error-400: #99060e; -
	-darkreader-border--sendbird-light-error-400: #bd0711; -
	-darkreader-bg--sendbird-light-error-300: #b22b09; -
	-darkreader-text--sendbird-light-error-300: #f55b33; -
	-darkreader-border--sendbird-light-error-300: #b02b09; -
	-sendbird-light-error-200: #f66161; -
	-sendbird-light-error-100: #fdaaaa; -
	-darkreader-bg--sendbird-light-background-700: #000000; -
	-sendbird-light-background-600: #161616; -
	-sendbird-light-background-500: #2c2c2c; -
	-darkreader-border--sendbird-light-background-400: #797164; -
	-darkreader-bg--sendbird-light-background-300: #3d4245; -
	-darkreader-bg--sendbird-light-background-200: #2a2d2f; -
	-darkreader-bg--sendbird-light-background-100: #222426; -
	-darkreader-border--sendbird-light-background-100: #35393b; -
	-darkreader-bg--sendbird-light-background-50: #181a1b; -
	-darkreader-bg--sendbird-light-overlay-01: rgba(0, 0, 0, 0.55); -
	-darkreader-bg--sendbird-light-overlay-02: rgba(0, 0, 0, 0.32); -
	-darkreader-bg--sendbird-light-onlight-01: rgba(0, 0, 0, 0.88); -
	-darkreader-text--sendbird-light-onlight-01: rgba(232, 230, 227, 0.88);
	-
	-darkreader-bg--sendbird-light-onlight-02: rgba(0, 0, 0, 0.5); -
	-darkreader-text--sendbird-light-onlight-02: rgba(232, 230, 227, 0.5);
	-
	-darkreader-bg--sendbird-light-onlight-03: rgba(0, 0, 0, 0.38); -
	-darkreader-text--sendbird-light-onlight-03: rgba(232, 230, 227, 0.38);
	-
	-darkreader-border--sendbird-light-onlight-03: rgba(140, 130, 115, 0.38);
	-
	-darkreader-bg--sendbird-light-onlight-04: rgba(0, 0, 0, 0.12); -
	-darkreader-text--sendbird-light-onlight-04: rgba(232, 230, 227, 0.12);
	-
	-darkreader-border--sendbird-light-onlight-04: rgba(140, 130, 115, 0.12);
	-
	-darkreader-bg--sendbird-light-ondark-01: rgba(24, 26, 27, 0.88); -
	-darkreader-text--sendbird-light-ondark-01: rgba(232, 230, 227, 0.88);
	-
	-darkreader-text--sendbird-light-ondark-02: rgba(232, 230, 227, 0.5); -
	-sendbird-light-ondark-03: hsla(0, 0%, 100%, 0.38); -
	-sendbird-light-ondark-04: hsla(0, 0%, 100%, 0.12);
	Show
	All
	Properties
	(75
	more)
}

:root { -
	-sendbird-light-primary-500: #491389; -
	-sendbird-light-primary-400: #6211c8; -
	-sendbird-light-primary-300: #742ddd; -
	-sendbird-light-primary-200: #c2a9fa; -
	-sendbird-light-primary-100: #dbd1ff; -
	-sendbird-light-secondary-500: #066858; -
	-sendbird-light-secondary-400: #027d69; -
	-sendbird-light-secondary-300: #259c72; -
	-sendbird-light-secondary-200: #69c085; -
	-sendbird-light-secondary-100: #a8e2ab; -
	-sendbird-light-information-100: #adc9ff; -
	-sendbird-light-error-500: #9d091e; -
	-sendbird-light-error-400: #bf0711; -
	-sendbird-light-error-300: #de360b; -
	-sendbird-light-error-200: #f66161; -
	-sendbird-light-error-100: #fdaaaa; -
	-sendbird-light-background-700: #000; -
	-sendbird-light-background-600: #161616; -
	-sendbird-light-background-500: #2c2c2c; -
	-sendbird-light-background-400: #393939; -
	-sendbird-light-background-300: #bdbdbd; -
	-sendbird-light-background-200: #e0e0e0; -
	-sendbird-light-background-100: #eee; -
	-sendbird-light-background-50: #fff; -
	-sendbird-light-overlay-01: rgba(0, 0, 0, 0.55); -
	-sendbird-light-overlay-02: rgba(0, 0, 0, 0.32); -
	-sendbird-light-onlight-01: rgba(0, 0, 0, 0.88); -
	-sendbird-light-onlight-02: rgba(0, 0, 0, 0.5); -
	-sendbird-light-onlight-03: rgba(0, 0, 0, 0.38); -
	-sendbird-light-onlight-04: rgba(0, 0, 0, 0.12); -
	-sendbird-light-ondark-01: hsla(0, 0%, 100%, 0.88); -
	-sendbird-light-ondark-02: hsla(0, 0%, 100%, 0.5); -
	-sendbird-light-ondark-03: hsla(0, 0%, 100%, 0.38); -
	-sendbird-light-ondark-04: hsla(0, 0%, 100%, 0.12); -
	-sendbird-light-shadow-01: 0 1px 5px 0 rgba(33, 34, 66, 0.04), 0 0 3px 0
		rgba(0, 0, 0, 0.08), 0 2px 1px 0 rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-02: 0 3px 5px -3px rgba(33, 34, 66, 0.04), 0 3px
		14px 2px rgba(0, 0, 0, 0.08), 0 8px 10px 1px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-03: 0 6px 10px -5px rgba(0, 0, 0, 0.04), 0 6px
		30px 5px rgba(0, 0, 0, 0.08), 0 16px 24px 2px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-04: 0 9px 15px -7px rgba(0, 0, 0, 0.04), 0 9px
		46px 8px rgba(0, 0, 0, 0.08), 0 24px 38px 3px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-message-input: 0 1px 5px 0 rgba(33, 34, 66, 0.12),
		0 0 1px 0 rgba(33, 34, 66, 0.16), 0 2px 1px 0 rgba(33, 34, 66, 0.08),
		0 1px 5px 0 rgba(0, 0, 0, 0.12); -
	-sendbird-dark-primary-500: #491389; -
	-sendbird-dark-primary-400: #6211c8; -
	-sendbird-dark-primary-300: #742ddd; -
	-sendbird-dark-primary-200: #c2a9fa; -
	-sendbird-dark-primary-100: #dbd1ff; -
	-sendbird-dark-secondary-500: #066858; -
	-sendbird-dark-secondary-400: #027d69; -
	-sendbird-dark-secondary-300: #259c72; -
	-sendbird-dark-secondary-200: #69c085; -
	-sendbird-dark-secondary-100: #a8e2ab; -
	-sendbird-dark-information-100: #adc9ff;
	Show
	All
	Properties
	(40
	more)
}

<
style>:root { -
	-darkreader-neutral-background: #131516; -
	-darkreader-neutral-text: #d8d4cf; -
	-darkreader-selection-background: #004daa; -
	-darkreader-selection-text: #e8e6e3;
}

<
style>html {
	font-family: 'Pretendard Variable', sans-serif;
	letter-spacing: -0.3px;
	-webkit-font-smoothing: antialiased;
}

html {
	font-family: 'Pretendard Variable', sans-serif;
	letter-spacing: -0.3px;
	-webkit-font-smoothing: antialiased;
}

<
style>html {
	color: rgb(190, 185, 176);
	background-image: initial;
	background-color: rgb(24, 26, 27);
}

<
style>body, html {
	line-height: 1;
	font-family: "Pretendard Variable", "Noto Sans KR",
		"Apple SD Gothic Neo", "        ", "Malgun Gothic", sans-serif;
	font-size: 13px;
}

html {
	color: #424242;
	background: #fff;
}

<
style>html {
	color-scheme: dark !important;
}

<
style>::-webkit-scrollbar {
	background-color: #202324;
	color: #aba499;
}

<
style>::-webkit-scrollbar-corner {
	background-color: #181a1b;
}

<
style>::-webkit-scrollbar-thumb {
	background-color: #454a4d;
}

<
style>::selection {
	background-color: #004daa !important;
	color: #e8e6e3 !important;
}

.profile-box {
	float: left;
	margin: 20px auto; /*       ߾                Ÿ   */
	width: 25%;
	border: 1px solid #ddd; /*  ׵θ    Ÿ        */
	padding: 20px; /*                */
	margin: 40px; /*  ٱ            */
	border-radius: 10px; /*  ׸  ĭ    𼭸     ձ۰       */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*  ׸    ȿ    ߰  */
}

.username, .follow-info, .user-details, .follow, .edit-profile {
	text-align: center;
}

.profile-actions {
	text-align: right;
}

.username {
	font-size: 20pt;
	font-weight: bold;
	line-height: 1.5;
}

.follow {
	font-size: 13pt;
	font-weight: bold;
	line-height: 3;
}

.edit-profile {
	border: 1px solid #ddd;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: border-color 0.3s;
}

/*    콺 ȣ       ׵θ            */
.edit-profile:hover {
	border-color: #2980b9;
}

/* Ŭ       ׵θ            */
.edit-profile:active {
	border-color: #2c3e50;
}

.profile-image-section {
	width: 70%;
}

.profile-box1 {
	margin: 20px auto; /*       ߾                Ÿ   */
	width: 80%;
	border: 1px solid #ddd; /*  ׵θ    Ÿ        */
	padding: 20px; /*                */
	border-radius: 10px; /*  ׸  ĭ    𼭸     ձ۰       */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*  ׸    ȿ    ߰  */
	text-align: center;
	display: flex;
}

.order-list__info__wrap {
	display: flex;
	justify-content: space-around; /*                ϰ      */
}

.test {
	margin: 20px 94px 0px 0px;
}

.test2 {
	display: flex;
	margin: auto;
}

.order-list__info__wrap__content {
	display: inline-block;
	text-align: center;
	width: 33%; /*        ʺ       Ͽ                     */
}

.order-list__info__wrap__content__text {
	display: block;
	margin-top: 5px; /*  ؽ Ʈ                           */
}

.order-list__info__wrap__content__icon--coupon,
	.order-list__info__wrap__content__icon--point,
	.order-list__info__wrap__content__icon--rating {
	vertical-align: middle; /*  ؽ Ʈ                        */
}

.order-list__info__wrap--placeholder__content__value,
	.order-list__info__wrap--placeholder__content__value--placeholder,
	.order-list__info__wrap__content__value,
	.order-list__info__wrap__content__value--placeholder {
	color: #58E6B7;
	font-weight: 700;
	margin-left: 5px;
	display: inline-block;
	min-width: 30px;
}

.test3 {
	margin: 20px 20px 20px 10%;
}

.drop-down {
	position: relative;
	display: inline-block;
}

.drop-down__button {
	padding: 8px;
	border: 1px solid #ddd;
	background-color: #fff;
	cursor: pointer;
}

.drop-down__content {
	display: none;
	position: absolute;
	background-color: #50E5B4;
	min-width: 160px;
	border-radius: 4px;
	z-index: 1;
	top: 45px;
	left: -66px;
}

.drop-down__content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.page-navigation__sub-menu-items {
	display: flex;
	justify-content: center;
}

.logoProfile {
	text-align: center;
}

.logoProfile1 {
	display: flex;
	justify-content: space-between; /*  ڽ    ҵ       η   յ  ϰ    ġ մϴ . */
	align-items: center; /*                      մϴ . */
	text-align: center;
	margin: 3%;
}

@media ( min-width : 1024px) .coupon-item {
	margin
	:
	 
	30
	px
	 
	10
	10
	px
	;
	
    
	padding
	:
	 
	60
	px
	 
	20
	px
	 
	20
	px
	;
	
    
    
	align-items
	:
	 
	center
	;
	
    
	justify-content
	:
	 
	center
	;
	
    
	flex-direction
	:
	 
	column
	; /*    빰                    ĵǵ     մϴ . */
	

}

.coupon-item {
	position: relative;
	width: 300px; /*    ϴ   ʺ        */
	height: 270px; /*    ϴ     ̷       */
	box-sizing: border-box;
	padding: 31px 20px 20px;
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid #ededed;
	box-shadow: 0 2px 12px 0 #ededed;
	border-radius: 10px;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4,
	h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

user agent stylesheet
div {
	display: block;
}

.layout {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

@media ( min-width : 768px) body , html {
	font-size
	:
	 
	15
	px
	;
	

}

<
style>body, html {
	line-height: 1;
	font-family: "Pretendard Variable", "Noto Sans KR",
		"Apple SD Gothic Neo", "        ", "Malgun Gothic", sans-serif;
	font-size: 13px;
}

:root { -
	-sendbird-light-primary-500: #491389; -
	-sendbird-light-primary-400: #6211c8; -
	-sendbird-light-primary-300: #742ddd; -
	-sendbird-light-primary-200: #c2a9fa; -
	-sendbird-light-primary-100: #dbd1ff; -
	-sendbird-light-secondary-500: #066858; -
	-sendbird-light-secondary-400: #027d69; -
	-sendbird-light-secondary-300: #259c72; -
	-sendbird-light-secondary-200: #69c085; -
	-sendbird-light-secondary-100: #a8e2ab; -
	-sendbird-light-information-100: #adc9ff; -
	-sendbird-light-error-500: #9d091e; -
	-sendbird-light-error-400: #bf0711; -
	-sendbird-light-error-300: #de360b; -
	-sendbird-light-error-200: #f66161; -
	-sendbird-light-error-100: #fdaaaa; -
	-sendbird-light-background-700: #000; -
	-sendbird-light-background-600: #161616; -
	-sendbird-light-background-500: #2c2c2c; -
	-sendbird-light-background-400: #393939; -
	-sendbird-light-background-300: #bdbdbd; -
	-sendbird-light-background-200: #e0e0e0; -
	-sendbird-light-background-100: #eee; -
	-sendbird-light-background-50: #fff; -
	-sendbird-light-overlay-01: rgba(0, 0, 0, 0.55); -
	-sendbird-light-overlay-02: rgba(0, 0, 0, 0.32); -
	-sendbird-light-onlight-01: rgba(0, 0, 0, 0.88); -
	-sendbird-light-onlight-02: rgba(0, 0, 0, 0.5); -
	-sendbird-light-onlight-03: rgba(0, 0, 0, 0.38); -
	-sendbird-light-onlight-04: rgba(0, 0, 0, 0.12); -
	-sendbird-light-ondark-01: hsla(0, 0%, 100%, 0.88); -
	-sendbird-light-ondark-02: hsla(0, 0%, 100%, 0.5); -
	-sendbird-light-ondark-03: hsla(0, 0%, 100%, 0.38); -
	-sendbird-light-ondark-04: hsla(0, 0%, 100%, 0.12); -
	-sendbird-light-shadow-01: 0 1px 5px 0 rgba(33, 34, 66, 0.04), 0 0 3px 0
		rgba(0, 0, 0, 0.08), 0 2px 1px 0 rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-02: 0 3px 5px -3px rgba(33, 34, 66, 0.04), 0 3px
		14px 2px rgba(0, 0, 0, 0.08), 0 8px 10px 1px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-03: 0 6px 10px -5px rgba(0, 0, 0, 0.04), 0 6px
		30px 5px rgba(0, 0, 0, 0.08), 0 16px 24px 2px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-04: 0 9px 15px -7px rgba(0, 0, 0, 0.04), 0 9px
		46px 8px rgba(0, 0, 0, 0.08), 0 24px 38px 3px rgba(0, 0, 0, 0.12); -
	-sendbird-light-shadow-message-input: 0 1px 5px 0 rgba(33, 34, 66, 0.12),
		0 0 1px 0 rgba(33, 34, 66, 0.16), 0 2px 1px 0 rgba(33, 34, 66, 0.08),
		0 1px 5px 0 rgba(0, 0, 0, 0.12); -
	-sendbird-dark-primary-500: #491389; -
	-sendbird-dark-primary-400: #6211c8; -
	-sendbird-dark-primary-300: #742ddd; -
	-sendbird-dark-primary-200: #c2a9fa; -
	-sendbird-dark-primary-100: #dbd1ff; -
	-sendbird-dark-secondary-500: #066858; -
	-sendbird-dark-secondary-400: #027d69; -
	-sendbird-dark-secondary-300: #259c72; -
	-sendbird-dark-secondary-200: #69c085; -
	-sendbird-dark-secondary-100: #a8e2ab; -
	-sendbird-dark-information-100: #adc9ff;
	Show
	All
	Properties
	(40
	more)
}

html {
	font-family: 'Pretendard Variable', sans-serif;
	letter-spacing: -0.3px;
	-webkit-font-smoothing: antialiased;
}

<
style>body, html {
	line-height: 1;
	font-family: "Pretendard Variable", "Noto Sans KR",
		"Apple SD Gothic Neo", "        ", "Malgun Gothic", sans-serif;
	font-size: 13px;
}

html {
	color: #424242;
	background: #fff;
}

@media ( min-width : 1024px) .coupon-item__title {
	font-size
	:
	 
	24
	px
	;
	
    
	height
	:
	 
	56
	px
	;
	
    
	line-height
	:
	 
	28
	px
	;
	

}

@media ( min-width : 375px) .coupon-item__title {
	font-size
	:
	 
	15
	px
	;
	
    
	height
	:
	 
	36
	px
	;
	
    
	line-height
	:
	 
	18
	px
	;
	

}

.coupon-item__title {
	font-size: 20px;
	margin-bottom: 2px;
	cursor: pointer;
	font-weight: 700;
	color: #000;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	word-wrap: break-word;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

a * {
	border: none;
}

@media ( min-width : 1024px) .coupon-item__valuation {
	margin
	:
	 
	16
	px
	 
	0;
}

.coupon-item__valuation {
	font-size: 40px;
	cursor: pointer;
	font-weight: 700;
	color: #000;
	margin: 10px 0;
}

.coupon-item__info>span, .coupon-item__due-date>span,
	.coupon-item__explain>span, .coupon-item__minimum-payment>span,
	.coupon-item__publish-limit>span {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 10px 0;
}

.button--size-50 {
	width: 100%;
}

.mer_coupon {
	display: flex;
	justify-content: center; /* ȭ      ߾       */
}

.coupon-item {
	margin-right: 30px; /*                            */
}

/*                  ۿ                            */
.coupon-item:last-child {
	margin-right: 0;
}

.mypage-scrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
}

.css-ylurzg {
	display: block;
	border: 0;
	margin: 40px;
}

.hidden {
	display: none;
}
