.css-1h25ori {
    padding: 24px 16px;
    border: 1px solid rgb(234, 237, 239);
    color: rgb(47, 52, 56);
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}
.css-ow22sl {
    margin: 30px auto;
    max-width: 750px;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
}
.css-1yu4f1z {
    max-width: 328px;
    text-align: center;
    margin: 16px auto 0px;
    padding: 9px 0px;
    background-color: rgb(247, 249, 250);
    border-radius: 4px;
}
.layout>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.css-o538wr {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.css-of8h0b {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #58E6B7;
    margin-top: 4px;
}
.css-12fah4g {
    font-size: 14px;
    line-height: 18px;
    color: rgb(130, 140, 148);
}
.css-12fah4g b {
    font-weight: 700;
    color: rgb(47, 52, 56);
    margin-left: 6px;
}


.css-oc7sge:last-of-type {
    border-bottom: 1px solid rgb(234, 237, 239);
}

.css-oc7sge {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgb(234, 237, 239);
    padding: 20px 10px;
}

.css-1kwo4sf {
    width: 100%;
    display: flex;
}
.css-3eylin {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(194, 200, 204);
}
.css-15jzb03 {
    width: 100%;
    margin-top: 0px;
    margin-left: 20px;
}
.css-s5xdrg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-y3863i.accumulate {
    background-color: rgb(239, 251, 255);
    color: #58E6B7;
}
.css-y3863i {
    font-size: 12px;
    line-height: 20px;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 700;
}
.css-1kzfo6n {
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
    font-weight: 700;
}
.css-1kzfo6n:hover {
	color: blue;
}
.css-82ta8s {
    margin-top: 8px;
}
.css-82ta8s > li {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    padding-left: 14px;
    margin-top: 4px;
    color: rgb(130, 140, 148);
}

.css-oc7sge > div {
    box-sizing: border-box;
}

.css-lgp5e9 {
    text-align: right;
    margin-left: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    flex-shrink: 0;
    color: #58E6B7;
}
.css-a4hf5k {
    margin-top: 40px;
    color: rgb(47, 52, 56);
}
.css-1066lcq {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.point-box{
	margin-left: 20%;
    margin-right: 20%;
}