.a {
	height: 100vh; /* 화면 높이의 100% */
	margin: 0;
	position: relative;
    left: 130px;
}

.css-82a6rk {
	flex: 1;
}

.css-mga9c9 {
	max-width: 1256px;
	margin: 0 auto;
	padding: 0 60px;
	padding-bottom: 30px;
	top: 20px;
	position: relative;
}

.css-7hbob3 {
	font-size: 32px;
	line-height: 42px;
	font-weight: 700;
	color: #2F3438;
	margin: 40px 0 10px;
}

.css-hpu1zu {
	font-size: 16px;
	line-height: 20px;
	color: #828C94;
	margin-bottom: 30px;
	display: block;
}

.css-9oiyo {
	margin: -15px -10px;
	position: relative;
	height: 2477px;
}

.css-1bpmso0 {
	width: 100%;
	display: flex;
}

.css-ylurzg {
	display: block;
	border: 0px;
	padding: 0px;
	padding: 15px 10px !important;
}

.css-1bpmso0>* {
	width: 25%;
}

.css-bga0xs {
	flex: 1 0 48%;
}

.css-pr93pi {
	position: relative;
	padding-bottom: 100%;
	background-color: rgb(247, 249, 250);
	border-radius: 4px;
}

.css-ngoqre {
	font-size: 12px;
	padding: 0px 6px;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 119, 119);
	display: inline-block;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	border-radius: 4px;
	position: absolute;
	z-index: 3;
	top: 12px;
	left: 12px;
}

.css-1lyaokr {
	margin: 0px;
	padding: 0px;
	border: none;
	background: none;
	font: inherit;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 36px;
	height: 36px;
	position: absolute;
	bottom: 4px;
	right: 4px;
	z-index: 10;
}

.css-5dnyrm {
	display: inline-block;
	font-size: 24px;
	line-height: 1;
	transform: translateZ(0px);
}

.css-5dnyrm>svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: drop-shadow(rgba(63, 71, 77, 0.25) 0px 2px 5px);
}

.css-ypqde8 {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.css-7bfh27 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: transform 0.2s ease 0s;
}

.css-b2xyg5 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: background-color 0.2s ease 0s;
}

.css-17wu10g {
	margin: 0px;
	width: 100%;
}

.css-1r0yqr6 {
	margin-top: 10px;
}

.css-11vbb10 {
	font-size: 12px;
	line-height: 16px;
	display: block;
	word-break: break-all;
	color: rgb(130, 140, 148);
}

.css-11e7usa {
	font-size: 14px;
	line-height: 18px;
	max-height: 36px;
	margin-top: 4px;
	word-break: break-all;
	transition: opacity 0.1s ease 0s;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow-wrap: break-word;
	color: rgb(47, 52, 56);
}

.css-14q3hbk {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 4px;
}

.css-pzbnhz {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin-right: 2px;
	color: #50E5B4;
}

.css-13aof0h {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: rgb(47, 52, 56);
}

.css-tk8sp3 {
	font-size: 12px;
	line-height: 16px;
	color: rgb(130, 140, 148);
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 4px;
}

.css-w9u1sc {
	display: inline-block;
	font-size: 12px;
	line-height: 1;
}

.css-tk8sp3.review>.icon {
	color: rgb(53, 197, 240);
	width: 1.1em;
	height: 1.1em;
	margin-right: 1px;
	vertical-align: -2px;
}