/* topSytle.css */
ol, ul {
    list-style: none;
}

.css-i7a8i3 {
    background: #FFFFFF;
    border-bottom: 1px solid #EAEDEF;
}

.css-1mfjm4o {
    padding: 0 16px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
    line-height: 0;
}

@media (min-width: 768px) {
    .css-1mfjm4o {
        padding:0 40px;
    }
}

@media (min-width: 1024px) {
    .css-1mfjm4o {
        padding:0 60px;
    }
}

@media (min-width: 1256px) {
    .css-1mfjm4o {
        max-width:1256px;
        margin: 0 auto;
        padding: 0 60px;
    }
}

@media (min-width: 768px) {
    .css-1mfjm4o {
        height:80px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.css-1euxu4r {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    display: none;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .css-1euxu4r {
        display:block;
    }
}

.css-1qwerc {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 0;
    padding: 21px 0 15px;
    font-size: 23px;
    line-height: 1;
    font-weight: bold;
    color: #2F3438;
    outline: none;
    color: #50E5B4;
    color: #50E5B4;
}

.css-1qwerc.focus-visible:focus {
    color: #50E5B4;
}

@media (hover: hover) and (pointer: fine) {
    .css-1qwerc:hover,.css-1qwerc:active {
        color:#50E5B4;
    }
}

.css-1qwerc::-moz-focus-inner {
    border: 0;
}

.css-1qwerc.focus-visible:focus,.css-1qwerc:focus-visible {
    color: #50E5B4;
}

.css-1qwerc.focus-visible:focus>span,.css-1qwerc:focus-visible>span {
    box-shadow: 0 0 0 3px #E5F8FF;
}

.css-18nk785 {
    display: inline-block;
    margin: -4px;
    padding: 4px;
    border-radius: 3px;
}

.css-53vhmk {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 21px 5px 15px;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    color: #2F3438;
    outline: none;
}

.css-53vhmk.focus-visible:focus {
    color: #50E5B4;
}

@media (hover: hover) and (pointer: fine) {
    .css-53vhmk:hover,.css-53vhmk:active {
        color:#50E5B4;
    }
}

.css-53vhmk::-moz-focus-inner {
    border: 0;
}

.css-53vhmk.focus-visible:focus,.css-53vhmk:focus-visible {
    color: #50E5B4;
}

.css-53vhmk.focus-visible:focus>span,.css-53vhmk:focus-visible>span {
    box-shadow: 0 0 0 3px #E5F8FF;
}

.css-1i4309w {
 
    flex: 0 0 auto;
}

@media (min-width: 768px) {
    .css-1i4309w {
      
        flex: 0 1 476px;
    }
}

@media (min-width: 1256px) {
    .css-1i4309w {
     
        flex: 0 1 650px;
    }
}

@media (max-width: 767px) {
    .css-1i4309w {
        margin-right:-7px;
    }
}

.css-10vibjk {
    display: flex;   
    align-items: center;
    justify-content: flex-end;
    line-height: 0;
}

.css-1o64euu {
    position: relative;
    display: flex;
    height: 100%;
    flex: 1 1 0px;
    min-width: 0;
    margin-left: -70px;
}

@media (min-width: 1256px) {
    .css-1o64euu {
        margin-right:14px;
    }
}

@media (max-width: 1023px) {
    .css-1o64euu {
        display:none;
    }
}

.css-7whenc {
    display: flex;
    width: 100%;
}

.css-1yhxgcl {
    display: inline-flex;
    align-items: center;
    line-height: 0;
    box-sizing: border-box;
    border: 1px solid #DADDE0;
    border-radius: 4px;
    height: 40px;
    padding: 0 14px;
    width: 100%;
}

.css-1yhxgcl:hover {
    background-color: #F7F9FA;
}

.css-1yhxgcl input::-ms-clear {
    display: none;
}

.css-1yhxgcl >input {
    width: 100%;
}

.css-hkiqzb {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
    padding-right: 6px;
    color: #828C94;
}

.css-hkiqzb::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.css-1pneado {
    box-sizing: border-box;
    flex: 1 0 0%;
    vertical-align: middle;
    outline: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    height: 100%;
    color: #2F3438;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    padding-right: 6px;
}

.css-1pneado::-webkit-input-placeholder {
    color: #C2C8CC;
}

.css-1pneado::-moz-placeholder {
    color: #C2C8CC;
}

.css-1pneado:-ms-input-placeholder {
    color: #C2C8CC;
}

.css-1pneado::placeholder {
    color: #C2C8CC;
}

.css-s5xdrg {
    display: flex;
    align-items: center;
}

@media (min-width: 1024px) {
    .css-t6whf {
        display:none;
    }
}

.css-1bi2id {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    padding: 6px;
    margin: 3px 1px;
    color: #2F3438;
    line-height: 0;
    outline: none;
}

.css-1bi2id.focus-visible:focus {
    color: #50E5B4;
}

@media (hover: hover) and (pointer: fine) {
    .css-1bi2id:hover,.css-1bi2id:active {
        color:#50E5B4;
    }
}

.css-1bi2id::-moz-focus-inner {
    border: 0;
}

.css-1bi2id.focus-visible:focus,.css-1bi2id:focus-visible {
    color: #50E5B4;
}

@media (max-width: 767px) {
    .css-1qmvf9l {
        display:none;
    }
}

.css-ym6lm7 {
    position: relative;
    display: inline-block;
    padding: 6px;
    margin: 3px 1px;
    color: #2F3438;
    line-height: 0;
    outline: none;
}

@media (min-width: 768px) {
    .css-ym6lm7 {
        margin:9px 1px;
    }
}

.css-ym6lm7.focus-visible:focus {
    color: #50E5B4;
}

@media (hover: hover) and (pointer: fine) {
    .css-ym6lm7:hover,.css-ym6lm7:active {
        color:#50E5B4;
    }
}

.css-ym6lm7::-moz-focus-inner {
    border: 0;
}

.css-ym6lm7.focus-visible:focus,.css-ym6lm7:focus-visible {
    color: #50E5B4;
}

.css-17vaqfq {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    font-size: 24px;
}

.css-17vaqfq::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

@media (max-width: 767px) {
    .css-ff3m79 {
        display:none;
    }
}

.css-1f624s9 {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .css-1f624s9 {
        display:none;
    }
}

.css-1kpxvh4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px 0 8px;
}

.css-1g5o6hv {
	font-size: 14px;
    line-height: 18px;
    color: #2F3438;
    padding: 0 10px;
    border-left: 1px solid #EAEDEF;
}

.css-1g5o6hv:first-of-type {
    border-left: none;
}

.css-1tlac5g {
    font-size: 14px;
    line-height: 18px;
    color: #2F3438;
    padding: 0 10px;
    border-left: 1px solid #EAEDEF;
}

.css-1tlac5g:first-of-type {
    border-left: none;
}

@media (max-width: 1255px) {
    .css-1tlac5g {
        display:none;
    }
}

.dropDown {
    line-height: 0;
    position: relative;
}

.dropDownButton {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
    background-color: #50E5B4;
    outline: none;
    overflow: hidden;
}

.dropDownButton.focus-visible:focus {
    background-color: #009FCE;
}

@media (hover: hover) and (pointer: fine) {
    .dropDownButton:hover,.css-qnc3fr:active {
        background-color:#009FCE;
    }
}

.dropDownButton::-moz-focus-inner {
    border: 0;
}

.dropDownButton.focus-visible:focus,.dropDown:focus-visible {
    box-shadow: 0 0 0 3px #E5F8FF;
}

.css-cdruys {
    vertical-align: middle;
    white-space: nowrap;
}

@media (min-width: 1024px) {
    .css-cdruys {
        margin-right:6px;
    }
}

.css-ae93ov {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
    display: none;
}

.css-ae93ov::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.css-1amee4m {
    line-height: 0;
}

.css-qnc3fr {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
    background-color: #50E5B4;
    outline: none;
    overflow: hidden;
}

.css-kqp0ar.open .popper-item {
    transform: none;
    transition: transform 0.2s ease 0s;
}

.css-y2j1wi {
    position: relative;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 221, 224);
    border-radius: 6px;
    box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
}

.css-1abjig3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 15px;
    line-height: 0;
    outline: none;
}

.css-1qhmto6 {
    margin-left: 12px;
}

.css-1w2j28v {
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    color: rgb(47, 52, 56);
    text-align: left;
}

.css-n1vjup {
    margin: 4px 0px 0px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(130, 140, 148);
}